@use "../../mixins.scss" as mixins;

.home {
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__hero {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .bg-hero {
      position: absolute;
      inset: 0;
      background-image: url("../../assets//landing_hero.webp");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: brightness(50%);
    }

    & > p {
      z-index: 1;
      color: white;
      font-size: var(--font-size-9xl);
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      text-transform: uppercase;
    }

    & > p:nth-of-type(1) {
      font-size: var(--font-size-7xl);
    }

    & > p:nth-of-type(3) {
      font-size: var(--font-size-2xl);
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      text-transform: none;
    }
  }

  &__welcome {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__view-point {
    width: 100%;
    background-color: #eaebe6;
    display: flex;
    justify-content: center;
    align-items: center;

    &__img-container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 400px);
      justify-content: space-around;

      & > div {
        height: 600px;
        background-color: red;
        border-radius: 8px;
      }
    }

    &__info {
      width: 70%;
      text-align: center;
    }
  }
}

// -------------------------------------------------------------------------------------------------------------

//Typography
.sectionHeader {
  @include mixins.sectionHeader;
}

.sectionInfo {
  @include mixins.sectionInfo;
}

.sectionSubHeader {
  @include mixins.sectionSubHeader;
}

.logo-text {
  @include mixins.logoText;
}

//Wrapper
.wrapper {
  @include mixins.wrapper;
}

//Sections
.sectionDivider {
  @include mixins.sectionDivider("../../assets//landing_hero.webp");
}

//Containers
.info-container {
  @include mixins.flex-container(32px);

  &__img {
    @include mixins.img-container;
  }

  &__text {
    @include mixins.text-container;
  }
}

.header-container {
  @include mixins.flex-container(0, column, center, center, center, 70%);
}

.flex-reverse-container {
  @include mixins.flex-reverse;
}
