.main-container {
  border: 2px solid red;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.navigation {
  background-color: var(--secondary-color-40);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;

  &__nav {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      width: 120px;
      height: 60px;
      background-color: var(--neutral-color-50);
    }

    &__links {
      display: flex;
      gap: 24px;

      & > a {
        padding: 4px 0;
        list-style-type: none;
        font-size: var(--font-size-lg);
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
      }
    }
  }
}
.outlet {
  flex: 1 1 0;
  display: flex;
}
