@use "../../mixins.scss" as mixins;

.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
}
.navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  z-index: 1;

  &__nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }

    &__links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 60px;

      & button {
        padding: 4px 0;
        list-style-type: none;
        font-size: var(--font-size-md);
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
        background-color: #6abe52;
        color: white;
        padding: 8px 16px;
        border-radius: 4px;
        border: none;

        &:hover {
          transition: all 0.3s ease-in-out;
          scale: 1.1;
        }
      }

      & .nav-link {
        color: white;
        padding: 4px 0;
        list-style-type: none;
        font-size: var(--font-size-md);
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: #6abe52;
          transition: all 0.3s ease-in-out;
        }
      }

      & .active-link {
        border-bottom: 4px solid #6abe52;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
.outlet {
  flex: 1 1 0;
  display: flex;
}

//----------------------------------------------------------
.navigationLogoText {
  @include mixins.navigationLogoText;
}
